# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
.idea/*
sample/log/*
sample/prof/*
sample/dumpPanic.-dump-*
sample/self.go
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
sample/log/
sample/prof/
